body{
    background-color: black;
}
img{
    width: 50%;
    border: 10px solid white;
}

h1{
    color: white;
    text-transform: uppercase;
    font-family:"Libre Baskerville", serif;

}

p{
    color: white
    ;
    font-size: 18px;
}

div{
    text-align: center;
    margin-top: 40px;
}